/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 5px;
  font-family: "Roboto", sans-serif;

  overflow: hidden;
}

.full-width-component {
  position: relative;
  width: 100%;
}

// #FF0000 - Red
// #00FF00 - Lime
// #0000FF - Blue
// #FFFF00 - Yellow
// #00FFFF - Aqua
// #FF00FF - Magenta
// #000000 - Black
// #FFFFFF - White
// #800000 - Maroon
// #008000 - Green
// #000080 - Navy
// #808000 - Olive
// #800080 - Purple
// #008080 - Teal
// #C0C0C0 - Silver
// #FFA500 - Orange

// #FF6347 - Tomato
// #40E0D0 - Turquoise
// #EE82EE - Violet
// #A52A2A - Brown
// #DEB887 - Burlywood
// #5F9EA0 - Cadet Blue
// #7FFF00 - Chartreuse
// #D2691E - Chocolate
// #FF7F50 - Coral
// #6495ED - Cornflower Blue
// #DC143C - Crimson
// #00BFFF - Deep Sky Blue
